.nexmoe-post-footer {
    background: #2b2b2b !important;  /* 中等灰色 */
    padding: 20px !important;
    border-radius: 8px !important;
    margin-top: 30px !important;
}

.nexmoe-post-copyright {
    background: #2b2b2b !important;  /* 中等灰色 */
    padding: 20px !important;
    border-radius: 8px !important;
    margin-top: 30px !important;
    color: #ffffff !important;
}

.nexmoe-post-copyright strong {
    color: #ffffff !important;  /* 橙色强调 */
}

.nexmoe-post-copyright a {
    color: #ffaa00 !important;  /* 亮蓝色链接 */
    text-decoration: none !important;
}

@keyframes rainbow {
  0% { color: red; }
  20% { color: orange; }
  40% { color: yellow; }
  60% { color: green; }
  80% { color: blue; }
  100% { color: purple; }
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-5px); } 
  100% { transform: translateY(0px); }
}

@keyframes shake-violent {
  0% { transform: translate(0, 0) rotate(0deg); }
  20% { transform: translate(-0.1px, 0.1px) rotate(-2deg); }
  40% { transform: translate(0.2px, -0.1px) rotate(2deg); }
  60% { transform: translate(-0.1px, 0.2px) rotate(-1deg); }
  80% { transform: translate(0.1px, -0.2px) rotate(1deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes neg-sin {
  0% { transform: translateY(0px); }
  25% { transform: translateY(-5px); }
  50% { transform: translateY(0px); }
  75% { transform: translateY(5px); }
  100% { transform: translateY(0px); }
}

.neg-sin-float {
    animation:
        neg-sin 1s linear infinite;
    display: inline-block;
}

.rainbow-float {
  animation: 
    rainbow 5s ease-in-out infinite,
    float 1s ease-in-out infinite; 
  display: inline-block; 
}

.shake-violent {
  display: inline-block;
  animation: shake-violent 0.5s infinite;
}

.fade-text {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  transition: opacity 0.8s ease;
}
